
@font-face {
    font-family: hel;
    src: url(./Helvetica.ttf);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(226,226,226);
}

.nav{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
}
.nav h2{
    font-size: 32px;
}
#box1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
    font-family: hel;
    padding-left: 22px;
}
#box2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
    font-family: hel;
    padding-right: 22px;
}

.bottom{
    width: 100%;
    position: absolute;
    left:0;
    bottom:0;
    display: flex;
    justify-content: space-between;
    padding: 60px 102px;
    font-size:22px;
}

.bottom h3{
    font-weight: 500;
}
.bottom a{
    color: black;
    font-weight: 600;
}

.btmleft h3{
    font-family: hel;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}
.btmleft p{
    font-family: hel;
    font-size: 15px;
    margin-bottom: 40px;
}
.btmleft{
    position: absolute;
    bottom: 5%;
    left: -14px;
    
    padding: 14px;
    margin-left: 102px;
    height: 300px;
    width: 240px;
}

#main h1{
    position: absolute;
    top: 33%;
    left: 46%;
    transform: translate(-50%,-50%);
    font-size: 500px;
    font-family: hel;
    font-weight: 500;
}

#first{
    position: absolute;
    right: 23%;
    bottom: 16%;
    height: 480px;
    width: 300px;
    object-fit: cover;
    z-index: 10;
}

#second{
    position: absolute;
    right: 34%;
    bottom: 6%;
    height: 300px;
    width: 300px;
    object-fit: cover;
    z-index: 8;
}
#third{
    position: absolute;
    right: 45%;
    bottom: 19%;
    height: 250px;
    width: 250px;
    object-fit: cover;
    z-index: 5;
}